@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}

/* .box {
  width: 800px;
  /* height: 550px; */
/* background-color: white;
  border-radius: 10px; */
/* text-align: center; 
}

.product-list {
  width: 100%;
  float: left;
  text-align: center;
  padding: 50px 40px;
}

/* .product{
    width:33.33%;
    text-align: center;
    float: left;
} 

.price{
    color:green;
    margin-top: 10px;
}

div img{
    width:60%;
    height:300px
}


div button{
    margin-bottom: 70px;
    margin-top: 10px;
} */

.row-upper {
  width: 100%;
  height: 40px;
  background-color: green;
}

.header {
  width: 100%;
  height: 100px;
  /* background-color: rgb(199, 112, 253); */
}

.col1 {
  width: 30%;
  float: left;
  text-align: center;
  margin-top: 20px;
  height: 70px;
}

.col1 img {
  height: 100%;
  width:20%;
}

.col2 {
  width: 50%;
  float: left;
  height: 100px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  word-spacing: 20px;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 25px;
  color: green;
}

.col3 {
  width: 20%;
  float: left;
  height: 100px;
  /* background-color: rgb(229, 88, 88); */
  padding-top: 30px;
}

.col3 button {
  height: 40px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  width:180px;
  color: green;
  border: solid green;
}

.banner {
  width: 100%;
  /* height: 500px; */
  /* background-color: gold; */
}

.explor-row {
  width: 100%;
  height: 100px;
  /* background-color: yellow; */
}

.exp-btn{
  width:200px;
  height:40px;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 20px;
  text-align: center;
  color: green;
}

  .product-row {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(232, 229, 229);
  /* height: 100vh; */
  float: left;

}

.product-col {
  width: 24%;
  background-color: rgb(232, 229, 229);
  /* height: 600px; */
  margin-left: 10px;
  margin-top: 30px;
  float: left;
  text-align: center;
} 

h3{
  padding-top: 10px;
}

div img{
  width:100%
}

.price{
  font-size:20px;
  color:green;
  padding-top: 10px;
}

.buy-btn{
  padding: 10px 15px;
  margin-top: 7px;
  color: rgb(255, 255, 255);
  background-color: rgb(35, 2, 5);
  border-radius: 8%;
}



.modal-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;

  display: flex;
   display: none; 
}

.modal-row{
  width:100%;
  height:100px;
  background-color: rgb(2, 75, 2);
  position: top;
}

.modal-row input{
  width: 90%;
  height: 38px;
  margin-left: 30px;
  margin-right: 40px;
  /* border-radius: 7%; */
  margin-top: 34px;
  font-size: 20px;
}

.footer-row{
  width:100%;
  background-color: rgb(2, 77, 2);
  height:400px;
  margin-top: 2000px;

}

 
.footer-col{
  width:20%;
  color: white;
  /* height:500px; */
  /* background-color: aquamarine; */
  float: left;
  /* border: 2px solid black; */
  margin-top: 80px;
  padding-left: 30px;
}

.footer-col4{
  width:40%;
  color: white;
  /* height:500px; */
  /* background-color: aquamarine; */
  float: left;
  /* border: 2px solid black; */
  margin-top: 80px;
  padding-left: 30px;
}


h4{
  padding-top: 30px;
}



 .footer{
  background-color: rgb(3, 94, 3);
  width: 100%;
  height: 80px;
  /* margin-top: 2000px; */
}
